@model Person
@{
}

<h3>Update Person</h3>

<a href="/Person/DisplayAll" class="my-2 btn btn-primary">Display All</a>

<form asp-action="Edit">
    <input asp-for="Id" type="hidden" class="form-control">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">

        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="text" class="form-control">

        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label">
            Address
        </label>
        <textarea class="form-control" asp-for="Address" rows="3"></textarea>

        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

  @if (TempData["msg"] != null)
  {
      <div class="mb-3">
      @TempData["msg"]
      </div>
  }

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>
